[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/CryptoDoge-Network/mozilla-ca.git
[submodule "cryptodoge-gui"]
	path = cryptodoge-gui
	url = https://github.com/CryptoDoge-Network/cryptodoge-gui.git
